$logincolor: #13bdd2;
$logindark: darken($logincolor, 5%);

$loginlight: #42cadb;
$mywhite: #ffffff;
$mytranswhite: rgba(255,  255,  255,  0.5);
$mygray: #c7c7c7;
$secondgray: #aeaeae;
$myblack: #000000;
$alertred: #e81c7b;
$logoutpink: #e21a61;
$alertredtrans: rgba(231, 76, 60, .8);
$graybackground: #d9dada;

