.dashboard-header {
    background-color: $logincolor;
    color: $mywhite;

    a {
        color: $mywhite;

        &:hover {
            opacity: .9;
        }
    }

    .dashboard-user-info {
        position: relative;
        padding: 0;
        margin-top: 1.03125rem;

        .dashboard-avatar {
            border-radius: 4px;
        }

        .dashboard-user-name {
            p:first-child {
                margin-bottom: 2.5rem;
            }

            p:last-child {
                font-size: 1.2rem;
            }
        }
    }

    .dashboard-main-nav {

        ul {

            a {
                @include dashboard-menu;

                padding: 2rem 1rem;

                i {
                    font-size: 1.5rem;
                }
            }

            .dashboard-selected {
                background-color: $myblack;
                position: relative;

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: -20px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    width: 30px;
                    height: 20px;
                    background-color: $myblack;
                    border-radius: 0 0 30px 30px;
                    
                }
            }
        }
    }

    .dashboard-right-menu {
        
        a {
            @include dashboard-menu;

            font-size: 1.5em;
            padding: .5rem 1rem;
            margin: 1.5rem 0;
        }

        .dashboard-logout {
            border-left: 1px solid rgba(255, 255, 255, 0.7);

            &:hover {
                opacity: 1;
                color: $logoutpink;
            }
        }
    }
}
.dashboard-main {
    padding-top: 1px;
    background-color: $graybackground;
}
.dashboard-charts{
    .chart{
        width: 100%;
        height: 380px;
        background-color: $mywhite;
        border-radius: 4px;
        margin: 2rem 0;
    }
}
.dashboard-main {
    
    .products {
        a {
            background-color:$mywhite;
            color: $myblack;
            display: block;
            width: 100%;
            border-radius: 4px;
            padding: 2rem;
            margin-bottom: 10px;
            transition: background-color 1s;
            &:focus,
            &:hover {
                background-color:$logincolor;
                transition: background-color 1s;
            }
            
          


        }
        .products-button {
             &:nth-child(odd){
                padding-right: 5px;
            }
              &:nth-child(even){
                padding-left: 5px;
            }
        }

      }
    .history {
        background-color: $mywhite;
        border-radius: 4px;
    }
}

