
.dashboard-main {
    padding-top: 1px;
    background-color: $graybackground;

    h1 {
        font-size: 3rem;
        font-weight: 300;
        margin: 0;
    }
      h2 {
        font-size: 1.5rem;
        font-weight: 100;
        font-family: 'Roboto', sans-serif;
    }
}

.dashboard-charts {
    .chart {
        width: 100%;
        height: 380px;
        background-color: $mywhite;
        border-radius: 4px;
        margin: 2rem 0;
    }
}

.dashboard-main {
    .products {
        a {
            background-color: $mywhite;
            color: $myblack;
            display: block;
            width: 100%;
            border-radius: 4px;
            padding: 2rem;
            margin-bottom: 10px;
            transition: background-color 1s;
            transition: color .7s;

            &:focus,
            &:hover {
                background-color: $logincolor;
                color: $mywhite;
                transition: background-color 1s;
                transition: color .7s;

            }
        }

        .products-button {
            
    
            &:nth-child(odd) {
                padding-right: 5px;
            }

            &:nth-child(even) {
                padding-left: 5px;
            }
        }
    }

    .history {
        background-color: $mywhite;
        border-radius: 4px;
        height: 400px;
        overflow-y: scroll;
        padding: 0;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                border-bottom: 1px solid $graybackground;

                .history-column {
                    display: inline-block;
                    text-align: center;

                    &:nth-child(1) {
                        width: 20%;
                        padding: 2rem;
                    }

                    &:nth-child(2) {
                        width: 45%;
                        text-align: left;
                        padding: 1rem .5rem;
                    }

                    &:nth-child(3) {
                        width: 35%;
                        padding: 2rem;

                        .history-amount {
                            font-weight: 700;
                        }
                    }
                }

                &.income {
                    .history-amount,
                     {
                        color: green;

                    }
                }
            }
        }
    }
}

