.heading-stats {
    font-size: 1.2rem;
}

.grywalizacja-button {
    &.non-active {
        background-color: $secondgray;

        &:hover {
            background-color: darken($secondgray, 5%);
        }
    }
}

.account-achievments {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 5px;

    &.done,
    &.in-progres {
        color: $mywhite;
    }

    &.in-progres {
        &:after {
            content: " ";
            display: block;
            position: absolute;
            right: 5px;
            top: 5px;
            bottom: 5px;
            background-color: $logincolor;
            border-radius: 0 4px 4px 0;
            width: 24%;
        }

        &.save-objective {
            &:after {
                width: 80%;
            }
        }

        &.privete-setting {
            &:after {
                width: 40%;
            }
        }
    }

    h3 {
        z-index: 3;
        position: absolute;
        font-size: 1rem;

        &.caption {
            bottom: 10%;
            left: 0;
            right: 0;
        }
    }

    span {
        z-index: 3;
        position: absolute;

        &.caption {
            bottom: 10%;
            left: 0;
            right: 0;
        }

        &.progres {
            opacity: 0;
            top: 10%;
            left: 10%;
            font-size: 1.6em;
            transition: opacity 1s;

            &:after {
                content: "";
                display: block;
                width: 0px;
                height: 20px;
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                right: -100px;
                background-image: url(../img/icon/star.png);
                background-size: 20px 20px;
                background-repeat: repeat-x;
            }

            &.locked {
                &:after {
                    background-image: url(../img/icon/locked.png);
                }
            }

            &.white-star {
                &:after {
                    background-image: url(../img/icon/star2.png);
                }
            }

            &.one-star {
                &:after {
                    width: 20px;
                    transform: translate(40px, -50%);
                }
            }

            &.two-star {
                &:after {
                    width: 40px;
                    transform: translate(20px, -50%);
                }
            }

            &.three-star {
                &:after {
                    width: 60px;
                }
            }
        }

        &.icons {
            opacity: 1;
            top: 12%;
            right: 10%;
            transition: opacity 1s;

            img {
                width: 20px;
                height: auto;
            }
        }
    }

    &:hover,
    &:focus {
        padding: 0;

        h3.caption {
            font-size: 1.1em;
        }

        span {
            &.caption {
                font-size: 1.1em;
            }

            &.progres {
                opacity: 1;
                transition: opacity 1s;
            }

            &.icons {
                opacity: 0;
                transition: opacity 1s;
            }
        }

        &.in-progres {
            &:after {
                display: none;
            }
        }
    }

    img {
        width: 100;
        height: auto;
    }
}

.dashboard-main {
    .grywalizacja-panel-acount {
        margin-top: 3rem;

        .thumbnail-container {
            margin-left: -5px;
            margin-right: -5px;

            .column {
                &.thumbnail-checked {
                    .account-achievments {
                        &:before {
                            position: absolute;
                            content: " ";
                            width: 30px;
                            height: 30px;
                            top: 20px;
                            left: 20px;
                            background-image: url(../img/icon/ok.svg);
                            background-repeat: no-repeat;
                            background-size: 30px 30px;
                        }

                        &.white-checkbox {
                            &:before {
                                background-image: url(../img/icon/ok2.svg);
                            }
                        }

                        .progres {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}