

.login-appla,
.login-form-wrapper,
.login-form-wrapper input {
	border-radius: 4px;
}

.loginwrapper {
	background-image: url(../img/loginBcg.jpg);
	background-size: cover;
	height: 100vh;
	padding: 2.5rem 0;
	text-align: right;
	font-family: 'Roboto Condensed', sans-serif;


	.login-appla {
		background-color: $logincolor;
		padding: 1.5rem 1.5rem;
		
		color: $mywhite;
		text-align: center;
		
		h1 {
			padding: 0;
			margin:0;
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 2.5rem;
			font-weight: 300;

		}
		.login-info {
			font-size: .9rem;
			margin-top: -.5rem;
			margin-bottom: 9.375rem;
		}
		.login-form-wrapper {
			padding: 1.5rem;
			margin-bottom: 5rem;
			
			border: 1px solid $mytranswhite;

			.login-avatar {
				border: 1px solid $mytranswhite;
				border-radius: 50px;
				margin-top: -75px;
			}
			p {
				font-weight: 700;
				margin-top: .75rem;
				margin-bottom: .625rem;
			}

			input[type="password"]{
				width: 90%;
				height: 30px;
				display: inline-block;
				padding: 5px 20%;
				position: relative;
				border-top: 2px solid $mygray;
				&:hover{
					border-top:2px solid $logindark;
				}
				&:focus {
					border-top:2px solid $logindark;
					box-shadow: 0px -2px 5px -1px $loginlight;

					}

			}
			input[type="submit"] {
				width: 25%;
				height: 30px;
				box-shadow: none;
				border: none;
				border-top: 2px solid $mygray;
				background: $mywhite;
				color: $myblack;
				text-transform: uppercase;
				font-weight:  300;
				&:hover{
					border-top:2px solid $logindark;
					opacity: .9;
				}
			}
			label{
				color: $mywhite;
				text-transform: uppercase;

				display: inline;
				margin-right: 20px;
			}

			.keyboard {
				display: inline-block;
				&:hover{
					opacity: .9;
				}
			}
			form {
				margin-bottom: 3rem;
			}
		}
	}
	.menu-container {
		padding: 0;	
		.login-menu {
			
			padding: 0;
			margin-top: 1.5rem;
			display: flex;
			li {
				display: flex;
				a {	
					opacity: .9;
					color:$mywhite;
			 		text-transform: uppercase;
					font-weight: bold;
					text-shadow: 1px 1px 1px #0f0f0f;
					font-size: .6875rem;
					&:hover,
					&:focus {
						opacity: 1;
						transition: opacity 1s;
					}
					
				}
				&:first-child {
					a {
						padding-left: 0;
					}
				}
				&:last-child {
					margin-left: auto;
					a{

						padding-right:5px;
					}
				}

			}
		}
	}
}
.login-form-wrapper {
	.pass-imput {
		position: relative;
		.pass-none{
			text-transform: uppercase;
			background-color: $alertred;
			color: #fff;
			font-size: .8rem;
			width: 30%;
			
			position: absolute;
			z-index: 15;
			border-radius: 5px 5px 5px 0;
			top: -35px;
			left: 30px;
			p {
				margin: 0;
				padding: 2px;
			}
			&:before{
				content: " ";
				border-top: 10px solid $alertred;
				border-left: 0px solid transparent;
				border-right: 10px solid transparent;
				position: absolute;
				left: 0;
				bottom: -10px;


			}
		}
	}
	
}



